name: Build and Release

on:
  push:
    tags:
      - 'v*.*.*'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: 1. Checkout do Código
        uses: actions/checkout@v4

      - name: 2. Configurar Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '18'

      - name: 3. Instalar Dependências
        run: npm install

      - name: 4. Rodar a Build (Geração dos Instaladores)
        env:
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
        run: npm run dist

      - name: 5. Upload dos Artefatos
        uses: actions/upload-artifact@v4
        with:
          name: build-output
          path: dist/
